/* #calculator-body {
    border: black, 2px, solid;
    min-width: 300px;
    min-height: 600px;
    
}

#display, .number, .number-buttons {
    border: black, 2px, solid;
    display: flex, inline-block;
    
}
    */